body {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
    front-size: 26px;

}

nav h1 {
    font-family: Perpetua;
    font-size: 50px;
    border-bottom: 5px solid rgba(250, 10, 10, 0.801);
    border-left: 5px solid rgba(250, 10, 10, 0.801);
    border-right: 5px solid rgba(250, 10, 10, 0.801);
    border-radius: 10px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-inline: 30px;
    font-size: 25px;
}

.btn button {
    width: 100px;
    height: 36px;
    border: 3px solid rgb(250, 10, 10, 0.801);
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 11px;
    margin-left: 10px;
}

.main-div {
    display: flex;
    justify-content: space-between;
    color: rgba(225, 233, 233, 0.934);
    font-size: 50px;
    margin-top: 30px;
    margin-left: 10px;
    margin-inline: 30px;
}

.main-div.head {
    font-size: 10px;
    margin-left: 40px;
}

.head button {
    width: 160px;
    height: 45px;
    background-color: rgba(250, 10, 10, 0.801);
    color: white;
    font-size: 25px;
    border-radius: 6px;
}

.head button:hover {
    background-color: black;
    border: 3px solid rgba(250, 10, 10, 0.801);
    cursor: pointer;

}


.img img {
    margin-right: 10px;
    width: 700px;
    height: 470px;
}

*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    color: white: height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transtition: 0.03s;
} 
.main-div.head.P{ 
    color: #ff3c78;
}