<!DOCTYPE html>
<html>
<head> 
    <title> ABOUT </title> 
    <link rel="stylesheet" href="about.css">
</head> 
<body> 
<h1>Recipes:</h1><br> 
<p class="p"><k>Signature Dishes:</k><br>
     These recipes are often unique and showcase the restaurant's specialty
     or their chef's creativity and expertise.
</p> 
<p> 
    Cuisine Specific Recipes: <br>
    Restaurants specializing in a particular cuisine, such as Italian, Mexican, or Chinese,
     may include information about traditional recipes from that cuisine.
     They might mention popular dishes, regional specialties, or family recipes that
     have been passed down through generations.
</p>
<p>
Farm-to-Table or Locally Sourced Ingredients:<br>
Some restaurants emphasize their commitment to using locally sourced or organic
ingredients. In their "About" section, they might talk about working directly with local 
farmers and suppliers to create dishes that highlight the freshness and quality of the ingredients.
</p> 

<h1>Seasonal and Local Foods:</h1>
<p>
Strawberries:<br>
Season: Spring and early summer.<br>
Key Points: Strawberries are sweet, juicy, and packed with antioxidants. 
They are versatile and can be used in a variety of dishes, including desserts, salads, and beverages.
</p>

<p>
Tomatoes:<br>
Season: Summer.<br>
Key Points: Tomatoes come in a variety of colors and flavors. 
They are rich in vitamins and minerals and can be used in salads, sauces, 
salsas, and as a topping for various dishes.
</p>

<p>
Pumpkins:<br>
Season: Fall.<br>
Key Points: Pumpkins are a symbol of the autumn season. 
They are commonly used in pies, soups, and roasted dishes. 
They are also a good source of fiber and vitamins.
</p> 

<p> 
Apples:<br>
Season: Fall.<br>
Key Points: Apples come in a wide range of varieties, each with
 its own flavor profile. They are often associated with pies, but 
 they can also be enjoyed raw, used in salads, or made into applesauce.
</p> 

<h1>Restaurant and Product Reviews</h1> 
<p> 
Restaurant Review:<br>
"I had the most amazing dining experience at Foodee. 
The ambiance was cozy and inviting, and the service was top-notch. 
I ordered their signature dish, and it was bursting with flavors. 
The presentation was impeccable, and each bite was a delight. 
I highly recommend [Restaurant Name] to anyone looking for an unforgettable culinary adventure!" 
</p> 

<p> 
Food Product Review:<br>
"I recently tried [Food Product Name], and it exceeded my expectations. 
The packaging was elegant and practical, keeping the product fresh. 
The taste was phenomenal, with a perfect balance of flavors. 
It was evident that high-quality ingredients were used. I can't wait to stock up
on more of [Food Product Name] to savor its deliciousness!"
</p> 

<% if (alertMessage) { %>
    <script>
      alert('<%- alertMessage %>');
    </script>
  <% } %>

</body> 
</html>