<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="contact.css">
</head>

<body>

    <h1 class="h1">
        Address:
    </h1>
    <table class="table">
        <tr>
            <td>Street:</td>
            <td>Royal Street</td>
        </tr>
        <tr>
            <td>Landmark:</td>
            <td>Near Railway Station</td>
        </tr>
        <tr>
            <td>Town:</td>
            <td>Bhimavaram</td>
        </tr>
        <tr>
            <td>District:</td>
            <td>West Godavari</td>
        </tr>
        <tr>
            <td>State:</td>
            <td>Andhra Pradesh</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>India</td>
        </tr>
        <tr>
            <td> Mobile no.</td>
            <td>9848562467</td>
        </tr>
    </table>

</body>

</html>